html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Open Sans",sans-serif;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.alert-dialog {
    position:fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 40%;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    z-index: 999999;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.bPopupDialog {
    display:none;
    background-color: #0073aa;
    color: #eee;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    padding: 0;
}

textarea {
    width:100%;
    height:100%;
    border-radius: 10px;
    color:black;
}
