.tabel table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 580px) {
  .tabel table {
    display: block;
  }
}

.tabel tr {
  background: #f6f6f6;
}
.tabel tr:nth-of-type(odd) {
  background: #e9e9e9;
}
.tabel tr.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.tabel tr.green {
  background: #27ae60;
}
.tabel tr.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .tabel tr {
    padding: 8px 0;
    display: block;
  }
}

.tabel td, .tabel th {
  padding: 6px 12px;
}
@media screen and (max-width: 580px) {
  .tabel td, .tabel th {
    padding: 2px 12px;
    display: block;
  }
}
